body{
	background-color:#383838;
	font-family: 'Roboto', sans-serif;
	color:white;
	margin:0px;
}
#header ul{
	list-style:none;
	text-align:right;
	
}
#header ul li{
	margin-left:10px;
	display: inline-block;
}
.nopadding{
	padding:0px;
}
.navbar-default{
	background-color:transparent;
}
@media (min-width: 768px){
   .navbar {
	   border-radius: 0px;
	}
	.navbar-nav{
		float: none;
		text-align: center;
	}
	.navbar-nav>li{
		display: inline-block;
		float: none;
	}
	navbar-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
	}
	.carousel-indicators{
		bottom:0px;
	}
}
.navbar{
   border: 2px solid #fff;
   border-left:none;
   border-right:none;
  
}
.navbar-default .navbar-nav>li>a{
	 color:white;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #000;
	color:#fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
background-color: #000;
	color:#fff;
}
.navbar-default .navbar-brand
{
	color:white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:#fff;
}

.carousel-indicators li {
border-radius: 0px;
}
.carousel-indicators{
	bottom: 0px;
left: 80%;
margin-left: 0%;
width:20%;
}
.banner{
	background-color:black;
	border:1px #fff solid;
}
.gautham{
margin-top: 10px;
padding-bottom: 10px;

}
#copyright{
	text-align:center;
	padding:3px;
	background-color:#999;
}
.row div a {
color: white;
}